body {
    font-family: sans-serif;
    background-color:aliceblue;
}

header {
    background-color:rgb(168, 238, 215);
    padding: 5px;
}

header a {
    padding: 10px;
}

h1 {
    color:blueviolet;
    font-family: 'Courier New', Courier, monospace;
}

footer {
    background-color: pink;
    padding: 5px;
}

footer p {
    background-color: white;
}

nav {
    margin: 20px;
    padding: 10px;
    border: 2px solid lightslategray;
}

nav a {
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(90,90,90);
}

.pitard {
    background-color: lightgreen;
}

main p {
    font-size: 20px;
    padding: 5px;
}

